<div class="home">
    <div class="file">
        <div class="file__container" *ngFor="let file of filesList; trackBy:trackByFn">
            <video controls class="video" *ngIf="getContentType(file.fileContentType) ==='video'">
                <source [src]="file.fileUrl" [type]="file.fileContentType">
            </video>
        </div>
    </div>
    <div class="nav-buttons" *ngIf="(page.totalPages > 1)">
        <a (click)="previousPage()" class="previous" *ngIf="page.pageNumber > 0">
            &laquo; Previous
        </a>
        <a (click)="nextPage()" class="next" *ngIf="page.pageNumber < page.totalPages-1">
            Next &raquo;
        </a>
    </div>
</div>